<nav class="d-sm-block bg-light sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/accordian">Accordian
        <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/alert">Alert</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/carousel">Carousel</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/collapse">Collapse</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/datepicker">Date Picker </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dropdown">Dropdown</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/modal">Modal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pagination">Pagination</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/popover">Popover</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/progressbar">Progress Bar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/rating">Rating</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tabs">Tabs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/timepicker">Time Picker</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/typeahead">Typeahead</a>
        </li>
  </ul>

  <!-- <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link">Nav item</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Nav item again</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">One more nav</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Another nav item</a>
    </li>
  </ul>

  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link">Nav item again</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">One more nav</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Another nav item</a>
    </li>
  </ul> -->
</nav>